
header {
position: absolute;
bottom: 0;
height: 60px;
line-height: 60px;
width: 100%;
background-color: rgba(0, 0, 0, .1);
font-weight: lighter;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
};